<!DOCTYPE html>
<html lang="en">
<body>
    <h1> Team Osourgit</h1>
    <form action="/result" method="POST">

        <!-- Name -->
        <p><b>1. Name</b> <input type='text' id='name' name='name' /></p>

        <!-- Student Number -->
        <p><b>2. Student Number</b> <input type='text' id='StudentNumber' name='StudentNumber' /></p>
        
        <!-- Gender -->
        <p><b>3. Gender</b> <br />
            <input type="radio" id="male" name="gender" value="Male" required>
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="Female" required>
            <label for="female">Female</label>
        </p>
 
        <!-- Major -->
        <p><b>4. Major</b> <input type='text' id='major' name='major' /></p>
  
  
        <!-- Programming Languages -->
        <p><b>5. Programming Languages</b><br />
            <input type="checkbox" id="Python" name="programming_languages[]" value="Python">
            <label for="Python"> Python</label><br>

            <input type="checkbox" id="Java" name="programming_languages[]" value="Java">
            <label for="Java"> Java</label><br>

            <input type="checkbox" id="HTML" name="programming_languages[]" value="HTML">
            <label for="HTML"> HTML</label><br>

            <input type="checkbox" id="Cplusplus" name="programming_languages[]" value="C++">
            <label for="Cplusplus"> C++</label><br>
        </p>
        
        <button type='submit' name='submit' value='submit'>Submit</button>

    </form>
</body>
</html>