<!DOCTYPE html>
<html lang="en">
<body>
    <h1>HTML input & output practice</h1>
    <form action="/result" method="POST">
        <p><b>1. Name</b> <input type='text' id='name' name='name' /></p>
        <p><b>2. Student Number</b> <input type='text' id='StudentNumber' name='StudentNumber' /></p>
        
        <!-- Gender Selection -->
       
        <!-- Major -->
       
        <!-- Programming Languages -->
    
        <button type='submit' name='submit' value='submit'>Submit</button>
    </form>
</body>
</html>
