<!DOCTYPE html>
<html lang="en">
<body>
    <h1> HTML input & output practice</h1>
    <form action="/result" method="POST">
        <p><b>* Name</b> <input type='text' id='name' name='name' /></p>
        <p><b>* Student Number</b> <input type='text' id='StudentNumber' name='StudentNumber' /></p>
        <p><b>* Gender</b> 
            <label for="male">Male</label>
            <input type="radio" id="male" name="gender" value="Male" required>
            
            <label for="female">Female</label>
            <input type="radio" id="female" name="gender" value="Female" required>
        </p>
        <button type='submit' name='submit' value='submit'>submit</button>
    </form>
</body>
</html>